<div id="MainDiv">
  <!-- Breadcrumb-->
  <div class="card">
    <div class="card-body">
      <button class="btn btn-sm-2 btn-primary" type="submit" routerLink="/accGroup/new">
        <i class="icon-plus icons"></i> {{ "button.Add" | translate }}</button>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> {{ "headers.ListT" | translate}}</div>
    <div class="card-body">
      <table class="table table-responsive-sm table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th style="width: 250px;">{{"table.thead.GroupName" | translate}}</th>
            <th style="width: 150px;">{{"table.thead.GroupType" | translate}}</th>
            <th style="width: 150px;">{{"table.thead.GroupOring" | translate}}</th>
            <th style="width: 130px;">{{"table.thead.LogDate" | translate}}</th>
            <th style="width: 150px;">{{"table.thead.Action" | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let gro of groups">
            <td>{{gro.AccGroupName}}</td>
            <td>{{gro.AccountTypeName}}</td>
            <td>{{gro.AccountOriginName}}</td>
            <td>{{gro.LogDate | date: 'yyyy-MM-dd h:mm:ss a'}}</td>
            <td>
              <button class="btn btn-sm btn-primary" type="submit" (click)="edit(gro)">
                <i class="icon-close"></i> {{ "button.Edit" | translate }}</button>
              &nbsp;
              <button class="btn btn-sm btn-danger" type="submit" (click)="remove(gro)">
                <i class="icon-close"></i> {{ "button.Remove" | translate }}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>