<app-base-content [ActiveBack]="true" [ActiveSave]="true" [ActiveRefresh]="true"
  saveButtonText="{{ 'button.Save' | translate }}" backButtonText="{{'button.Back' | translate}}"
  refreshButtonText="{{'button.Refresh' | translate}}" (back)="back()" (save)="save()" (refresh)="ngOnInit()">

  <div class="row border rounded" style="padding: 15px; margin-bottom: 12px;">

    <div class="col-md-12 text-center" style="margin-bottom:5px;">
      <h1 class="control-label" translate>label.userLabel</h1>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <label class="control-label" translate>label.userName</label>
      <input class="form-control" [(ngModel)]="user.UsrId" />
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <label class="control-label" translate>label.userRole</label>
      <select class="form-control" [(ngModel)]="user.UserRoleGID">
        <option value="00000000-0000-0000-0000-000000000000" translate>label.userRoleDrop</option>
        <option *ngFor="let rol of roles" value="{{ rol.GID }}">{{
        rol.Name
      }}</option>
      </select>
      <!--<select class="form-control" [(ngModel)]="user.Party.Gender">
        <option value="null" translate>label.userRoleDrop</option>
        <option *ngFor="let rol of roles" [(ngValue)]="rol.GID">{{rol.Name}}</option>
      </select>-->
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <label class="control-label" translate>label.password</label>
      <input type="password" class="form-control" [(ngModel)]="user.PssId" />
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <label class="control-label" translate>label.confPassword</label>
      <input type="password" class="form-control" [(ngModel)]="confPassId" />
    </div>

  </div>

  <div class="row border rounded" style="padding: 15px;">
    <div class="col-md-12 text-center" style="margin-bottom:5px;">
      <h1 class="control-label" translate>label.employeeLabel</h1>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.department</label>
      <select class="form-control" [(ngModel)]="user.Department" (ngModelChange)="onChangeDep($event)">
        <option value="undefined" translate>label.userDepartDrop</option>
        <option *ngFor="let dep of departments" value="{{ dep.GID }}">{{
          dep.Description
        }}</option>
      </select>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.position</label>
      <select class="form-control" [(ngModel)]="user.Position">
        <option value="undefined" translate>label.userPositDrop</option>
        <option *ngFor="let pos of positions" value="{{ pos.GID }}">{{
          pos.Description
        }}</option>
      </select>
    </div>

    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <app-parties [(person)]="user.Party"></app-parties>
    </div>
  </div>

</app-base-content>