<app-base-content [ActiveBack]="true" [ActiveSave]="true" [ActiveRefresh]="true"
  saveButtonText="{{ 'button.Save' | translate }}" backButtonText="{{'button.Back' | translate}}"
  refreshButtonText="{{'button.Refresh' | translate}}" (back)="back()" (save)="save()" (refresh)="ngOnInit()">

  <div class="row border rounded" style="padding: 15px; margin-bottom: 12px;">

    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <label class="control-label" translate>label.rncNumber</label>
      <input class="form-control" [(ngModel)]="bank.RNC" />
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <label class="control-label" translate>label.name</label>
      <input class="form-control" [(ngModel)]="bank.Name" />
    </div>
    <!--<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <label class="control-label" translate>label.decription</label>
      <input class="form-control" [(ngModel)]="bank.Description" />
    </div>-->
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <app-contact-person></app-contact-person>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <app-bank-account></app-bank-account>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <app-contact-number></app-contact-number>
    </div>
  </div>
</app-base-content>