<div>
  <button class="btn btn-outline-dark" type="button" routerLink="/users">
    <i class="icons icon-arrow-left-circle"></i> {{"button.Back" | translate}}</button>
  &nbsp;
  <button class="btn btn-outline-success" type="submit">
    <i class="fa fa-dot-circle-o"></i> {{ "button.Save" | translate }}</button>
    &nbsp;
    <button class="btn btn-outline-primary" type="submit">
      <i class="fa fa-dot-circle-o"></i> {{ "button.Save" | translate }}</button>
</div>>
