<div id="MainDiv">
  <!-- Breadcrumb-->
  <div class="card">
    <div class="card-body">
      <button class="btn btn-sm-2 btn-primary" type="submit" routerLink="/accPeriod/new">
        <i class="icon-plus icons"></i> {{ "button.Add" | translate }}</button>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> {{ "headers.ListT" | translate}}</div>
    <div class="card-body">
      <table class="table table-responsive-sm table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th>{{"table.thead.Period" | translate}}</th>
            <th>{{"table.thead.StartDate" | translate}}</th>
            <th>{{"table.thead.EndDate" | translate}}</th>
            <th>{{"table.thead.PState" | translate}}</th>
            <th>{{"table.thead.LogDate" | translate}}</th>
            <th>{{"table.thead.Action" | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let per of periods">
            <td>{{per.PeriodName}}</td>
            <td>{{per.StartDate}}</td>
            <td>{{per.EndDate}}</td>
            <td>{{per.PeriodState}}</td>
            <td>{{per.RegisterDate | date: 'yyyy-MM-dd'}}</td>
            <td>
              <button class="btn btn-sm btn-primary" type="submit" (click)="editPeriod(per)">
                <i class="icon-close"></i> {{ "button.Edit" | translate }}</button>
              &nbsp;
              <button class="btn btn-sm btn-danger" type="submit" (click)="lockPeriod(per)">
                <i class="icon-close"></i> {{ "button.Lock" | translate }}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>