<app-base-content [ActiveBack]="true" [ActiveSave]="true" [ActiveRefresh]="true"
  saveButtonText="{{'button.Save' | translate}}" backButtonText="{{'button.Back' | translate}}"
  refreshButtonText="{{'button.Refresh' | translate}}" (back)="back()" (save)="save()" (refresh)="ngOnInit()">

  <div class="row border rounded" style="padding: 15px; margin-bottom: 12px;">
    <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.ClassCode</label>
      <input type="text" maxlength="2" class="form-control" [(ngModel)]="accClass.AccClassCode" />
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.ClassName</label>
      <input class="form-control" [(ngModel)]="accClass.AccClassName" />
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.AccGroup</label>
      <select class="form-control" [(ngModel)]="accClass.AccGroupId" (ngModelChange)="onChange($event)">
        <option value="undefined" translate>label.AccGroupDrop</option>
        <option *ngFor="let gro of groups" value="{{ gro.GID }}">{{
          gro.AccGroupName
        }}</option>
      </select>
    </div>
  </div>

</app-base-content>