<div id="MainDiv">
  <!--========================================== Content=========================================-->
  <app-base-content [ActiveBack]="false" [ActiveSave]="true" [ActiveRefresh]="true" saveButtonText="Save" refreshButtonText="Refresh"
    (save)="save()" (refresh)="refresh()" saveButtonText="{{ 'button.Save' | translate }}"
    refreshButtonText="{{ 'button.Refresh' | translate}}">

    <div class="row border rounded" style="padding: 15px; margin-bottom: 12px;">
      <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
        <label class="control-label" translate>label.Code</label>
        <input class="form-control" [(ngModel)]="generalType.Code" readonly />
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <label class="control-label" translate>label.Description</label>
        <input class="form-control" [(ngModel)]="generalType.Description" readonly />
      </div>
      <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0" style="margin-top:29px">
        <button class="btn btn-block btn-outline-primary" type="button" (click)="addNewChield()">
          <i class="icon-plus icons"></i> {{ "button.Add" | translate }}</button>
      </div>
    </div>

    <div class="row border rounded" style="padding: 15px;">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <table class="table table-responsive-sm table-striped table-sm">
          <thead>
            <tr>
              <th>{{"table.Code" | translate}}</th>
              <th>{{"table.Description" | translate}}</th>
              <th>{{"table.Status" | translate}}</th>
              <th>{{"table.LogDate" | translate}}</th>
              <th>{{"table.Actions" | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ch of generalType.Chields" (click)="seeDetails(ch)">
              <td *ngIf="!ch.IsDeleted">{{ch.Code}}</td>
              <td *ngIf="!ch.IsDeleted">{{ch.Description}}</td>
              <td *ngIf="!ch.IsDeleted">{{ch.StatusName}}</td>
              <td *ngIf="!ch.IsDeleted">{{ch.LogDate | date: 'yyyy-MM-dd h:mm:ss a'}}</td>
              <td *ngIf="!ch.IsDeleted">
                <button class="btn btn-sm btn-outline-success" type="submit" (click)="addDetailsToChield(ch)">
                  <i class="icon-plus icons"></i> {{ "button.AddDetails" | translate }}</button>
                &nbsp;
                <button class="btn btn-sm btn-outline-primary" type="submit" (click)="editChield(ch)">
                  <i class="icon-clock icons"></i> {{ "button.Edit" | translate }}</button>
                &nbsp;
                <button class="btn btn-sm btn-outline-danger" type="submit" (click)="removeChield(ch)">
                  <i class="icon-close"></i> {{ "button.Remove" | translate }}</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="subCh" class="row border rounded" style="padding: 15px; margin-top:12px;">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="text-align:center; margin-bottom:5px;">
        <h2>Details for option {{chield.Description}}</h2>
      </div>
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <table class="table table-responsive-sm table-striped table-sm">
          <thead>
            <tr>
              <th>{{"table.Code" | translate}}</th>
              <th>{{"table.Description" | translate}}</th>
              <th>{{"table.Status" | translate}}</th>
              <th>{{"table.LogDate" | translate}}</th>
              <th>{{"table.Actions" | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ch of subChields">
              <td *ngIf="!ch.IsDeleted">{{ch.Code}}</td>
              <td *ngIf="!ch.IsDeleted">{{ch.Description}}</td>
              <td *ngIf="!ch.IsDeleted">{{ch.StatusName}}</td>
              <td *ngIf="!ch.IsDeleted">{{ch.LogDate | date: 'yyyy-MM-dd h:mm:ss a'}}</td>
              <td *ngIf="!ch.IsDeleted">
                <button class="btn btn-sm btn-outline-primary" type="submit" (click)="editChield(ch)">
                  <i class="icon-clock icons"></i> {{ "button.Edit" | translate }}</button>
                &nbsp;
                <button class="btn btn-sm btn-outline-danger" type="submit" (click)="removeDetail(ch)">
                  <i class="icon-close"></i> {{ "button.Remove" | translate }}</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </app-base-content>
  <!--===========================================================================================-->

  <!--===========================================Modals=========================================================-->

  <!--Chield-->
  <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" translate>headers.OptionModal</h4>
          <button class="close" type="button" aria-label="Close" (click)="cancelEditOption(options)">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div class="form-group">
              <label for="" translate>label.Code</label>
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{generalType.Code}}-</span>
                </div>
                <input class="form-control" id="nombre" [(ngModel)]="chield.Code" type="text" placeholder=""
                  [disabled]="chield.Indx >= 0">
              </div>
            </div>

            <div class="form-group">
              <label for="" translate>label.Description</label>
              <input class="form-control" id="link" [(ngModel)]="chield.Description" type="text">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button"
            (click)="saveNewChield()">{{ "button.Save" | translate }}</button>
          <button class="btn btn-secondary" type="button" (click)="cancelEditChield()">
            {{ "button.Cancel" | translate }}</button>
        </div>
      </div>
    </div>
    <!-- /.modal-content-->
  </div>

  <!--Sub Chields-->
  <div class="modal fade" id="subDetail" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" translate>headers.OptionModal</h4>
          <button class="close" type="button" aria-label="Close" (click)="cancelEditOption(options)">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div class="form-group">
              <label for="" translate>label.Code</label>
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{chield.Code}}-</span>
                </div>
                <input class="form-control" id="nombre" [(ngModel)]="subChield.Code" type="text" placeholder=""
                  [disabled]="subChield.Indx >= 0">
              </div>
            </div>

            <div class="form-group">
              <label for="" translate>label.Description</label>
              <input class="form-control" id="link" [(ngModel)]="subChield.Description" type="text">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button"
            (click)="saveNewSubChield(subChield)">{{ "button.Save" | translate }}</button>
          <button class="btn btn-secondary" type="button" (click)="cancelOption(subChield)">
            {{ "button.Cancel" | translate }}</button>
        </div>
      </div>
    </div>
    <!-- /.modal-content-->
  </div>
</div>