<div id="MainDiv">
  <!-- Breadcrumb-->
  <div class="card">
    <div class="card-body">
      <button class="btn btn-sm-2 btn-primary" type="submit" routerLink="/user/new">
        <i class="icon-plus icons"></i> {{ "button.AddNewUser" | translate }}</button>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> {{ "headers.UserListTable" | translate}}</div>
    <div class="card-body">
      <table class="table table-responsive-sm table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th>{{"UserListTable.thead.UserName" | translate}}</th>
            <th>{{"UserListTable.thead.Role" | translate}}</th>
            <th>{{"UserListTable.thead.Status" | translate}}</th>
            <th>{{"UserListTable.thead.LogDate" | translate}}</th>
            <th>{{"UserListTable.thead.Action" | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let us of users">
            <td>{{us.UsrId}}</td>
            <td>{{us.Role.Name}}</td>
            <td>{{us.StatusName}}</td>
            <td>{{us.LogDate | date: 'yyyy-MM-dd h:mm:ss a'}}</td>
            <td>
              <button class="btn btn-sm btn-primary" type="submit" (click)="edit(us)">
                <i class="icon-close"></i> {{ "button.Edit" | translate }}</button>
              &nbsp;
              <button class="btn btn-sm btn-danger" type="submit" (click)="remove(us)">
                <i class="icon-close"></i> {{ "button.Remove" | translate }}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>