<form [formGroup]="vehicleForm">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
      <label class="control-label">{{
        "vehicleLabel.brand" | translate
      }}</label>
      <select
        class="form-control"
        formControlName="brand"
        [(ngModel)]="vehicle.BrandGID"
        (change)="GetAllModels()"
      >
        <option *ngFor="let item of brandTypes" [value]="item.GID">{{
          item.Description
        }}</option>
      </select>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
      <label class="control-label">{{
        "vehicleLabel.model" | translate
      }}</label>
      <select
        class="form-control"
        formControlName="model"
        [(ngModel)]="vehicle.ModelGID"
      >
        <option value="1">Masculino</option>
        <option value="2">Femenino</option>
      </select>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
      <label class="control-label">{{
        "vehicleLabel.color" | translate
      }}</label>
      <input
        class="form-control"
        formControlName="color"
        [(ngModel)]="vehicle.Color"
      />
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
      <label class="control-label">{{ "vehicleLabel.year" | translate }}</label>
      <input
        class="form-control"
        formControlName="year"
        [(ngModel)]="vehicle.Year"
      />
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
      <label class="control-label">{{
        "vehicleLabel.licensePlate" | translate
      }}</label>
      <input
        class="form-control"
        formControlName="licensePlate"
        [(ngModel)]="vehicle.LicensePlate"
      />
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
      <label class="control-label">{{ "vehicleLabel.vin" | translate }}</label>
      <input
        class="form-control"
        formControlName="vin"
        [(ngModel)]="vehicle.VIN"
      />
    </div>
  </div>
</form>
