<form [formGroup]="propertyForm">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
      <label class="control-label">{{
        "propertyLabel.types" | translate
      }}</label>
      <input
        class="form-control"
        formControlName="type"
        [(ngModel)]="property.Type"
      />
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
      <label class="control-label">{{
        "propertyLabel.levels" | translate
      }}</label>
      <input
        class="form-control"
        formControlName="levels"
        [(ngModel)]="property.Leves"
      />
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
      <label class="control-label">{{
        "propertyLabel.meters" | translate
      }}</label>
      <input
        class="form-control"
        formControlName="meters"
        [(ngModel)]="property.Meters"
      />
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
      <label class="control-label">{{
        "propertyLabel.address" | translate
      }}</label>
      <input
        class="form-control"
        formControlName="address"
        [(ngModel)]="property.Address"
      />
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
      <label class="control-label">{{
        "propertyLabel.haspool" | translate
      }}</label>
      <input
        class="form-control"
        formControlName="haspool"
        [(ngModel)]="property.HasPool"
      />
    </div>
  </div>
</form>
