<div id="MainDiv">
  <!-- Breadcrumb-->
  <div class="card">
    <div class="card-body">
      <button class="btn btn-sm-2 btn-primary" type="submit" routerLink="/bank/new">
        <i class="icon-plus icons"></i> {{ "button.Add" | translate }}</button>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> {{ "headers.ListTable" | translate}}</div>
    <div class="card-body">
      <table class="table table-responsive-sm table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th>{{"CompanyListTable.bankName" | translate}}</th>
            <th>{{"CompanyListTable.logDate" | translate}}</th>
            <th>{{"CompanyListTable.action" | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ban of banks">
            <td *ngIf="!ban.IsDeleted">{{ban.Name}}</td>
            <td *ngIf="!ban.IsDeleted">{{ban.LogDate | date: 'yyyy-MM-dd h:mm:ss a'}}</td>
            <td *ngIf="!ban.IsDeleted">
              <button class="btn btn-sm btn-primary" type="submit" (click)="edit(ban)">
                <i class="icon-close"></i> {{ "button.Edit" | translate }}</button>
              &nbsp;
              <button class="btn btn-sm btn-danger" type="submit" (click)="remove(ban)">
                <i class="icon-close"></i> {{ "button.Remove" | translate }}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>