<form [formGroup]="personForm">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.firstname</label>
      <input
        class="form-control"
        formControlName="name"
        [(ngModel)]="person.FirstName"
      />
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.lastname</label>
      <input
        class="form-control"
        formControlName="lastname"
        [(ngModel)]="person.LastName"
      />
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.gender</label>
      <select
        class="form-control"
        formControlName="gender"
        [(ngModel)]="person.Gender"
      >
        <option *ngFor="let item of genders" [value]="item.GID">{{item.Description}}</option>
      </select>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.birthdate</label>
      <input
        class="form-control"
        bsDatepicker
        formControlName="birthdate"
        [(ngModel)]="person.BirthDate"
      />
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.email</label>
      <input
        class="form-control"
        formControlName="email"
        [(ngModel)]="person.Email"
      />
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12"></div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <app-party-identification
        [(identifications)]="person.Identifications"
      ></app-party-identification>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <app-contact-number
        [(contactNumbers)]="person.ContactNumbers"
        (contactNumberFormStatus)="contactNumberFormStatus = $event"
      ></app-contact-number>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <app-location></app-location>
    </div>
  </div>
</form>
