<app-base-content [ActiveBack]="true" [ActiveSave]="true" [ActiveRefresh]="true"
  saveButtonText="{{'button.Save' | translate}}" backButtonText="{{'button.Back' | translate}}"
  refreshButtonText="{{'button.Refresh' | translate}}" (back)="back()" (save)="save()" (refresh)="ngOnInit()">

  <div class="row border rounded" style="padding: 15px; margin-bottom: 12px;">

    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.AccType</label>
      <select class="form-control" [(ngModel)]="group.AccTypeId" (ngModelChange)="onChange($event)">
        <option value="undefined" translate>label.AccountTypeDrop</option>
        <option *ngFor="let act of accTypes" value="{{ act.GID }}">{{
          act.Description
        }}</option>
      </select>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.AccOrigin</label>
      <select class="form-control" [(ngModel)]="group.AccOriginId">
        <option value="undefined" translate>label.AccountOriginDrop</option>
        <option *ngFor="let org of accOrigins" value="{{ org.GID }}">{{
          org.Description
        }}</option>
      </select>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.GroupCode</label>
      <input type="text" maxlength="2" class="form-control" [(ngModel)]="group.AccGroupCode" />
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.GroupName</label>
      <input class="form-control" [(ngModel)]="group.AccGroupName" />
    </div>
  </div>

</app-base-content>