<div id="MainDiv">
  <!-- Breadcrumb-->
  <div class="card">
    <div class="card-body">
      <button class="btn btn-sm-2 btn-primary" type="submit" routerLink="/gtypes/new">
        <i class="icon-plus icons"></i> {{ "button.AddGType" | translate }}</button>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> {{ "headers.GTypeList" | translate}}</div>
    <div class="card-body">
      <table class="table table-responsive-sm table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th>Code</th>
            <th>Description</th>
            <th>Estatus</th>
            <th>Log Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let gt of generalTypes">
            <td>{{gt.Code}}</td>
            <td>{{gt.Description}}</td>
            <td>{{gt.StatusName}}</td>
            <td>{{gt.LogDate | date: 'yyyy-MM-dd h:mm:ss a'}}</td>
            <td>
              <button class="btn btn-sm btn-primary" type="submit" (click)="edit(gt)">
                <i class="icon-close"></i> {{ "button.Edit" | translate }}</button>
              &nbsp;
              <button class="btn btn-sm btn-danger" type="submit" (click)="removeOptions(gt)">
                <i class="icon-close"></i> {{ "button.Remove" | translate }}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>