<div class="card" style="margin-top:10px;">
  <div class="card-header">Numeros de Contacto
    <div class="card-header-actions">
      <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#contactNum"
        aria-expanded="true">
        <i class="icon-arrow-up"></i>
      </a>
    </div>
  </div>
  <div class="collapse show" id="contactNum">
    <div class="card-body">
      <button class="btn btn-pill btn-primary" type="button" (click)="contactnumbermodal.show()"
        (click)="saveMode = true">
        <i class="fa fa-dot-circle-o"></i>
        {{ "partyContactNumberButton.AddPartyContactNumber" | translate }}
      </button>

      <table class="table table-responsive-sm table-striped">
        <thead>
          <tr>
            <th>{{ "partyContactNumberTables.thead.ContactType" | translate }}</th>
            <th>{{ "partyContactNumberTables.thead.PhoneNumber" | translate }}</th>
            <th>{{ "partyContactNumberTables.thead.PhoneExt" | translate }}</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of contactNumbers">
            <td *ngIf="!item.IsDeleted">{{ item.ContactTypeName }}</td>
            <td *ngIf="!item.IsDeleted">{{ item.Number }}</td>
            <td *ngIf="!item.IsDeleted">{{ item.Ext }}</td>
            <td *ngIf="!item.IsDeleted">
              <button class="btn btn-sm btn-primary" type="button" (click)="editContactNumber(item)"
                (click)="contactnumbermodal.show()">
                <i class="icon-close"></i>
                {{ "partyContactNumberButton.EditPartyContactNumber" | translate }}
              </button>
              <button class="btn btn-sm btn-danger" type="button" (click)="deleteContactNumber(item)">
                <i class="icon-close"></i>
                {{ "partyContactNumberButton.DeletePartyContactNumber" | translate }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- <button type="button" class="btn btn-primary" (click)="contactnumbermodal.show()">
  Static modal
</button> -->

<div class="modal fade" bsModal #contactnumbermodal="bs-modal" [config]="{ backdrop: 'static' }" tabindex="-1"
  role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">
          {{ "partyContactNumberHeaders.ModalTitle" | translate }}
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="contactnumbermodal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="contactNumberForm">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
              <label class="control-label">{{
                "partyContactNumberLabel.ContactType" | translate
              }}</label>
              <select class="form-control" formControlName="contactType" [(ngModel)]="contactNumber.ContactType" #t
                (change)="onChange(t.value)">
                <option *ngFor="let item of contactTypes" value="{{ item.GID }}">{{ item.Description }}</option>
              </select>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
              <label class="control-label">{{
                "partyContactNumberLabel.PhoneNumber" | translate
              }}</label>
              <input type="text" class="form-control" formControlName="number" [(ngModel)]="contactNumber.Number" />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
              <label class="control-label">{{
                "partyContactNumberLabel.PhoneExt" | translate
              }}</label>
              <input class="form-control" formControlName="ext" [(ngModel)]="contactNumber.Ext" />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
              <label class="control-label">{{
                "partyContactNumberLabel.PhoneExt" | translate
              }}</label>
              <input type="checkbox" class="form-control" formControlName="isMain" [(ngModel)]="contactNumber.IsMain" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <app-back-save-button [disabledSaveButtom]="contactNumberForm.invalid" [isSaveMode]="saveMode" (save)="onSave()"
          (back)="onBack(); contactnumbermodal.hide();" (edit)="onEdit(); contactnumbermodal.hide();">
        </app-back-save-button>
      </div>
    </div>
  </div>
</div>