<app-base-content [ActiveBack]="true" [ActiveSave]="true" [ActiveRefresh]="true"
  saveButtonText="{{'button.Save' | translate}}" backButtonText="{{'button.Back' | translate}}"
  refreshButtonText="{{'button.Refresh' | translate}}" (back)="back()" (save)="save()" (refresh)="ngOnInit()">

  <div *ngIf="account.Indx == undefined" class="row border rounded" style="padding: 15px; margin-bottom: 12px;">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"
      style="text-align: center; font-size: 20px; padding-bottom: 10px;">
      <label class="control-label" translate>label.text</label>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.AccGroup</label>
      <select class="form-control" [(ngModel)]="account.AccGroupId" (ngModelChange)="onChangeGroup($event)"
        [disabled]="account.Indx == undefined? false: true">
        <option value="undefined" translate>label.AccGroupDrop</option>
        <option *ngFor="let gro of groups" value="{{ gro.GID }}">{{
          gro.AccGroupName
        }}</option>
      </select>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.AccClass</label>
      <select class="form-control" [(ngModel)]="account.AccClassId" (ngModelChange)="onChangeClass($event)"
        [disabled]="account.Indx == undefined? false: true">
        <option value="undefined" translate>label.AccClassDrop</option>
        <option *ngFor="let cla of classes" value="{{ cla.GID }}">{{
          cla.AccClassName
        }}</option>
      </select>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.AccRubro</label>
      <select class="form-control" [(ngModel)]="account.AccRubroId" [disabled]="account.Indx == undefined? false: true">
        <option value="undefined" translate>label.AccRubroDrop</option>
        <option *ngFor="let rub of rubros" value="{{ rub.GID }}">{{
          rub.AccRubroName
        }}</option>
      </select>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.AccOrigin</label>
      <select class="form-control" [(ngModel)]="account.AccOriginId" [disabled]="true">
        <option value="undefined" translate>label.AccOriginDrop</option>
        <option *ngFor="let ori of origins" value="{{ ori.GID }}">{{
          ori.Description
        }}</option>
      </select>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.AccNumber</label>
      <input class="form-control" [(ngModel)]="account.AccNumber" readonly>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.AccName</label>
      <input class="form-control" [(ngModel)]="account.AccName">
    </div>
    <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12" style="padding-top:19px;">
      <button class="btn btn-pill btn-block btn-outline-primary" type="button" (click)="addSubAccount()">
        <i class="icon-plus"></i>
        {{ "button.AddSub" | translate }}
      </button>
    </div>
  </div>

  <!--After saving this is the view showed the user, just the name can be modified.-->
  <div *ngIf="account.Indx != undefined && account.Indx != 0" class="row border rounded"
    style="padding: 15px; margin-bottom: 12px;">
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.AccNumber</label>
      <input class="form-control" [(ngModel)]="account.AccNumber" readonly>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <label class="control-label" translate>label.AccName</label>
      <input class="form-control" [(ngModel)]="account.AccName">
    </div>
    <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12" style="padding-top:19px;">
      <button class="btn btn-pill btn-block btn-outline-primary" type="button" (click)="addSubAccount()">
        <i class="icon-plus"></i>
        {{ "button.AddSub" | translate }}
      </button>
    </div>
  </div>

  <div class="row border rounded" style="padding: 15px;">

    <div class="card" style="margin:15px;">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> {{ "headers.ListT" | translate}}
        <!--<span>{{account.AccFullNumber}}</span>-->
        <span>{{groupNumber}}-{{classNumber}}-{{accNumber}}-{{accNumber != null?'0000':''}}</span>
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th style="width:300px;">{{"table.thead.AccNumber" | translate}}</th>
              <th style="width:250px;">{{"table.thead.AccName" | translate}}</th>
              <th style="width:220px;">{{"table.thead.LogDate" | translate}}</th>
              <th style="width:250px;">{{"table.thead.Action" | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let subAcc of account.SubAccounts">
              <td *ngIf="!subAcc.IsDeleted">{{subAcc.AccFullNumber}}</td>
              <td *ngIf="!subAcc.IsDeleted">{{subAcc.AccName}}</td>
              <td *ngIf="!subAcc.IsDeleted">{{subAcc.LogDate | date: 'yyyy-MM-dd h:mm:ss a'}}</td>
              <td *ngIf="!subAcc.IsDeleted">
                <button class="btn btn-sm btn-primary" type="submit" (click)="editSubAccount(subAcc)">
                  <i class="icon-close"></i> {{ "button.Edit" | translate }}</button>
                &nbsp;
                <button class="btn btn-sm btn-danger" type="submit" (click)="remove(subAcc)">
                  <i class="icon-close"></i> {{ "button.Remove" | translate }}</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</app-base-content>

<!--=============================================== Modals ===========================================-->
<div class="modal fade" id="subAccount" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{"modal.Title"| translate}}</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group col-sm-12">
          <label translate>label.SubAccNumber</label>
          <input class="form-control" [(ngModel)]="subAccount.AccFullNumber" readonly>
        </div>
        <div class="form-group col-sm-12">
          <label translate>label.SubAccName</label>
          <input class="form-control" [(ngModel)]="subAccount.AccName">
        </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal" (click)="cancelEditSubAccount()">Close</button>
        <button class="btn btn-primary" type="button" (click)="saveSubAccount()">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content-->
  </div>
  <!-- /.modal-dialog-->
</div>