<div id="MainDiv">
  <!--========================================== Content=========================================-->

  <div style="margin-top: 12px">
    <div class="card rounded">
      <div class="card-header">
        <button class="btn btn-outline-dark" type="button" routerLink="/gtypes">
          <i class="icons icon-arrow-left-circle"></i> {{"button.Back" | translate}}</button>
        &nbsp;
        <button class="btn btn-outline-success" type="submit" (click)="save()">
          <i class="fa fa-dot-circle-o"></i> {{ "button.Save" | translate }}</button>
        &nbsp;
        <button class="btn btn-outline-primary" type="submit" (click)="ngOnInit()">
          <i class="icon-refresh icons"></i> {{ "button.Refresh" | translate }}</button>
      </div>
      <!--======================================= Body ==========================================-->
      <div class="card-body">

        <div class="row border rounded" style="padding: 15px; margin-bottom: 12px;">

          <div class="col-md-12 text-center" style="margin-bottom:10px;">
            <h1 class="control-label" translate>headers.GTypeHeader</h1>
            <hr />
          </div>
          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
            <label class="control-label" translate>label.gtCode</label>
            <input class="form-control" [(ngModel)]="generalType.Code" [disabled]="generalType.Indx >= 0" />
          </div>

          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <label class="control-label" translate>label.gtDescription</label>
            <input class="form-control" [(ngModel)]="generalType.Description" />
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0" style="margin-top:29px">
            <button class="btn btn-block btn-outline-primary" type="button" (click)="AddNewOption(generalType)">
              <i class="icon-plus icons"></i> {{ "button.AddChield" | translate }}</button>
          </div>
        </div>

        <div class="row border rounded" style="padding: 15px; margin-bottom: 12px;">

          <div class="col-md-12 text-center" style="margin-bottom:10px;">
            <h1 class="control-label">Add chields to {{generalType.Description}}</h1>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <table class="table table-responsive-sm">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Date registered</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let opt of generalType.Chields">
                  <td *ngIf="!opt.IsDeleted">{{opt.Code}}</td>
                  <td *ngIf="!opt.IsDeleted">{{opt.Description}}</td>
                  <td *ngIf="!opt.IsDeleted">{{opt.StatusName}}</td>
                  <td *ngIf="!opt.IsDeleted">
                    <button class="btn btn-sm btn-primary" type="submit" (click)="editOpt(opt)">
                      <i class="icon-close"></i> {{ "button.Edit" | translate }}</button>
                    &nbsp;
                    <button class="btn btn-sm btn-danger" type="submit" (click)="removeOpt(opt)">
                      <i class="icon-close"></i> {{ "button.Remove" | translate }}</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>
      <!--======================================= End Body ======================================-->
      <div class="card-footer">
        <button class="btn btn-outline-dark" type="button" routerLink="/gtypes">
          <i class="icons icon-arrow-left-circle"></i> {{"button.Back" | translate}}</button>
        &nbsp;
        <button class="btn btn-outline-success" type="submit" (click)="save()">
          <i class="fa fa-dot-circle-o"></i> {{ "button.Save" | translate }}</button>
        &nbsp;
        <button class="btn btn-outline-primary" type="submit" (click)="ngOnInit()">
          <i class="icon-refresh icons"></i> {{ "button.Refresh" | translate }}</button>
      </div>
    </div>
  </div>
  <!--===========================================================================================-->

  <!--===========================================Modals=========================================================-->

  <!--Options-->
  <div class="modal fade" id="option" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" translate>headers.OptionModal</h4>
          <button class="close" type="button" aria-label="Close" (click)="cancelEditOption(options)">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div class="form-group">
              <label for="" translate>label.Code</label>
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{generalType.Code}}-</span>
                </div>
                <input class="form-control" id="nombre" [(ngModel)]="chield.Code" type="text" placeholder="" [disabled]="chield.Indx >= 0">
              </div>
            </div>

            <div class="form-group">
              <label for="" translate>label.Description</label>
              <input class="form-control" id="link" [(ngModel)]="chield.Description" type="text">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button"
            (click)="saveNewOption(chield)">{{ "button.Save" | translate }}</button>
          <button class="btn btn-secondary" type="button" (click)="cancelOption(chield)">
            {{ "button.Cancel" | translate }}</button>
        </div>
      </div>
    </div>
    <!-- /.modal-content-->
  </div>
  <!-- /.modal-dialog-->
</div>