<app-base-content
  (save)="saveLoans()"
  saveButtonText="{{ 'loansRsequestButton.Save' | translate }}"
  backButtonText="{{ 'loansRequestButton.Back' | translate }}"
  refreshButtonText="{{ 'loansRequestButton.Refresh' | translate}}"
  [disableSaveButton]="requestForm.invalid || !personFormValid || !warrantyFormValid"
>
  <form [formGroup]="requestForm">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
        <label class="control-label">{{
          "loansRequestLabel.type" | translate
        }}</label>
        <select
          class="form-control"
          formControlName="type"
          [(ngModel)]="request.TypeGID"
        >
          <option *ngFor="let item of requestTypes" value="{{ item.GID }}">{{
            item.Description
          }}</option>
        </select>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
        <label class="control-label">{{
          "loansRequestLabel.termType" | translate
        }}</label>
        <select
          class="form-control"
          formControlName="termType"
          [(ngModel)]="request.TermTypeGID"
        >
          <option *ngFor="let item of termTypes" value="{{ item.GID }}">{{
            item.Description
          }}</option>
        </select>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
        <label class="control-label">{{
          "loansRequestLabel.amount" | translate
        }}</label>
        <input
          type="number"
          min="0"
          class="form-control"
          formControlName="amount"
          [(ngModel)]="request.Amount"
        />
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
        <label class="control-label">{{
          "loansRequestLabel.comment" | translate
        }}</label>
        <input
          type="text"
          class="form-control"
          formControlName="comment"
          [(ngModel)]="request.Comment"
        />
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <app-parties
        [person]="request.Party"
        (personFormStatus)="personFormStatusChange($event)"
      ></app-parties>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <label class="control-label">{{
        "loansRequestLabel.warrantyType" | translate
      }}</label>

      <app-warranty
        [(warranty)]="request.Warranty"
        (warrantyFormStatus)="warrantyFormStatusChange($event)"
      ></app-warranty>
    </div>
  </div>
</app-base-content>
