<app-base-content [ActiveBack]="true" [ActiveSave]="true" [ActiveRefresh]="true"
  saveButtonText="{{'button.Save' | translate}}" backButtonText="{{'button.Back' | translate}}"
  refreshButtonText="{{'button.Refresh' | translate}}" (back)="back()" (save)="save()" (refresh)="ngOnInit()">

  <!--========================================== Content=========================================-->

  <div class="row border rounded" style="padding: 15px; margin-bottom: 12px;">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <label class="control-label" translate>label.compRNC</label>
      <input class="form-control" [(ngModel)]="company.RNC" />
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <label class="control-label" translate>label.compCode</label>
      <input class="form-control" [(ngModel)]="company.Code" />
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <label class="control-label" translate>label.compBusinessName</label>
      <input class="form-control" [(ngModel)]="company.BusinessName" />
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <label class="control-label" translate>label.compDesciption</label>
      <input class="form-control" [(ngModel)]="company.Description" />
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <label class="control-label" translate>label.compUrl</label>
      <input class="form-control" [(ngModel)]="company.Url" />
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <label class="control-label" translate>label.compSmalLogo</label><br />
      <input id="file-input" type="file" name="file-input" [(ngModel)]="company.Small_Logo_Path">
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <label class="control-label" translate>label.compMedLogo</label><br />
      <input id="file-input" type="file" name="file-input" [(ngModel)]="company.Med_Logo_Path">
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <label class="control-label" translate>label.compLagerLogo</label><br />
      <input id="file-input" type="file" name="file-input" [(ngModel)]="company.Large_Logo_Path">
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <app-contact-number [(contactNumbers)]="company.ContactNumbers"></app-contact-number>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <app-location></app-location>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <app-contact-person [(contactPersons)]="company.ContactPersons" [isCompany]="true"></app-contact-person>
    </div>

    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <div class="card">
        <div class="card-header">{{"label.Modulo" | translate}}
          <div class="card-header-actions">
            <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#modules"
              aria-expanded="true">
              <i class="icon-arrow-up"></i>
            </a>
          </div>
        </div>
        <div class="collapse show" id="modules">
          <div class="card-body">
            <button class="btn btn-pill btn-primary" type="button" (click)="addModule()">
              <i class="fa fa-dot-circle-o"></i>
              {{ "moduleButton.addModule" | translate }}
            </button>

            <table class="table table-responsive-sm table-striped">
              <thead>
                <tr>
                  <th style="width: 250px;">{{ "moduleTable.thead.Name" | translate }}</th>
                  <th>{{"moduleTable.thead.Action" | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let mod of company.Modules">
                  <td>{{ mod.Name }}</td>
                  <td>
                    <button class="btn btn-sm btn-danger" type="button" (click)="removeModule(mod)">
                      <i class="icon-close"></i>
                      {{ "moduleTable.Remove" | translate }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</app-base-content>

<div class="modal fade" id="modu" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-md modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{"headers.ModuloHeader" | translate}}</h4>
        <button class="close" type="button" aria-label="Close" (click)="finishModal()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row border rounded">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <table class="table table-responsive-sm table-sm">
              <thead>
                <tr>
                  <th style="width:65px;">--</th>
                  <th>{{"modalSearch.thead.Name" | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let module of modules">
                  <td>
                    <label class="switch switch-label switch-pill switch-success">
                      <input class="switch-input" type="checkbox" [(ngModel)]="module.Select"
                        (change)="AddRemoveModuleToList(module)">
                      <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                    </label>
                  </td>
                  <td>{{module.Name}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.modal-content-->
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" (click)="finishModal()">{{ "button.Save" | translate }}</button>
      </div>
      <!-- /.modal-dialog-->
    </div>
  </div>
</div>