  <div class="col-lg-12">
    <button *ngIf="showBackButtom" type="button" (click)="volver()" class="btn btn-sm btn-outline-dark"> <i class="fa fa-arrow-left"></i>
      {{textBackButtom}}</button>

    <button type="button" *ngIf="routerBack" [routerLink]="routerBack" class="btn btn-sm btn-outline-dark"> <i class="fa fa-arrow-left"></i>
      {{textBackButtom}}</button>
      &nbsp;
    <button type="button" *ngIf="isSaveMode" [disabled]="disabledSaveButtom" (click)="guardar()" class="btn btn-sm btn-primary">
      <i class="fa fa-save"></i>
      {{textSaveButtom}}</button>

    <button type="button" *ngIf="!isSaveMode" [disabled]="disabledSaveButtom" (click)="editar()" class="btn btn-sm btn-primary">
      <i class="fa fa-edit"></i>
      {{textEditButtom}}</button>
  </div>
