<div id="MainDiv">
  <!-- Breadcrumb-->
  <div class="card">
    <div class="card-body">
      <button class="btn btn-sm-2 btn-primary" type="submit" routerLink="/accCatalog/new">
        <i class="icon-plus icons"></i> {{ "button.Add" | translate }}</button>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> {{ "headers.ListT" | translate}}</div>
    <div class="card-body">
      <table class="table table-responsive-sm table-bordered table-striped table-sm">
        <thead>
          <tr>
            <!-- <th style="width:200px;">{{"table.thead.AccParent" | translate}}</th> -->
            <th style="width:200px;">{{"table.thead.AccNumber" | translate}}</th>
            <th style="width:250px;">{{"table.thead.AccName" | translate}}</th>
            <th style="width:220px;">{{"table.thead.LogDate" | translate}}</th>
            <th style="width:250px;">{{"table.thead.Action" | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cat of catalogs">
            <!-- <td>{{(cat.ParentAccount == undefined)? 'N/A' : cat.ParentAccount.AccNumber}}</td> -->
            <td>{{cat.FullNumber}}</td>
            <td>{{cat.AccName}}</td>
            <td>{{cat.LogDate | date: 'yyyy-MM-dd h:mm:ss a'}}</td>
            <td>
              <button class="btn btn-sm btn-primary" type="submit" (click)="edit(cat.AccountId)">
                <i class="icon-close"></i> {{ "button.Edit" | translate }}</button>
              &nbsp;
              <button class="btn btn-sm btn-danger" type="submit" (click)="remove(cat)">
                <i class="icon-close"></i> {{ "button.Remove" | translate }}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>