<!-- translation: translation pipe -->
<!-- <h1>{{ "label.title" | translate }}</h1> -->

<!-- translation: directive (key as attribute)-->
<!-- <p [translate]="'label.title'"></p> -->

<!-- translation: directive (key as content of element) -->
<!-- <p translate>label.title-body</p> -->


<!-- <h1>{{ "button.login" | translate }}</h1> -->

<div class="container" style="margin-top: 10%;">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <h1 translate>label.title</h1>
            <p class="text-muted" translate>label.title-body</p>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="icon-user"></i>
                </span>
              </div>
              <input
                class="form-control"
                [(ngModel)]="userName"
                name="username"
                type="text"
                placeholder="Username"
              />
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="icon-lock"></i>
                </span>
              </div>
              <input
                class="form-control"
                [(ngModel)]="password"
                (keypress)="keyPress($event)"
                name="password"
                type="password"
                placeholder="{{ 'label.title' | translate }}"
              />
            </div>
            <div class="row">
              <div class="col-6">
                <button
                  class="btn btn-primary px-4"
                  (click)="login()"
                  type="button"
                >
                {{ "button.login" | translate }}
                </button>
              </div>
              <div class="col-6 text-right">
                <button class="btn btn-link px-0" type="button" translate>
                  label.forgot
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card text-white bg-primary py-5 d-md-down-none"
          style="width:44%"
        >
          <div class="card-body text-center">
            <div>
              <h2>Sign up</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <button class="btn btn-primary active mt-3" type="button">
                Register Now!
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
