<div class="card" style="margin-top:10px;">
  <div class="card-header">Accounts
    <div class="card-header-actions">
      <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#account"
        aria-expanded="true">
        <i class="icon-arrow-up"></i>
      </a>
    </div>
  </div>
  <div class="collapse show" id="account">
    <div class="card-body">
      <button class="btn btn-pill btn-primary" type="button" (click)="addAccount()">
        <i class="fa fa-dot-circle-o"></i>
        {{ "AccountButton.Add" | translate }}
      </button>

      <table class="table table-responsive-sm table-striped">
        <thead>
          <tr>
            <th style="width: 250px;">{{ "AccountTable.thead.Type" | translate }}</th>
            <th style="width: 250px;">{{ "AccountTable.thead.Number" | translate }}</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of accounts">
            <td *ngIf="!item.IsDeleted">{{ item.AccountTypeName }}</td>
            <td *ngIf="!item.IsDeleted">{{ item.AccountNumber }}</td>
            <td *ngIf="!item.IsDeleted">
              <button class="btn btn-sm btn-primary" type="button" (click)="edit(item)">
                <i class="icon-note"></i>
                {{ "AccountButton.Edit" | translate }}
              </button>
              &nbsp;
              <button class="btn btn-sm btn-danger" type="button" (click)="remove(item)">
                <i class="icon-close"></i>
                {{ "AccountButton.Remove" | translate }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--====================================== Modals ==========================================-->

<div class="modal fade" id="addEditAccount" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" translate>headers.ModalHeader</h4>
        <button class="close" type="button" aria-label="Close" (click)="cancel(acc)">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <div class="row border rounded" style="padding:12px;">
            <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
              <label class="control-label" translate>label.AccType</label>
              <select class="form-control" [(ngModel)]="account.AccountType" #t (change)="onChange(t.value)">
                <option value="undefined"><span>-- Selected Account Type --</span></option>
                <option *ngFor="let accType of accTypes" value="{{ accType.GID }}">{{accType.Description}}</option>
              </select>
            </div>
            <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
              <label class="control-label" translate>label.AccNumber</label>
              <input class="form-control" [(ngModel)]="account.AccountNumber" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" (click)="saveAccount()">{{ "button.Save" | translate }}</button>
          <button class="btn btn-secondary" type="button" (click)="cancelAdd">{{ "button.Cancel" |
              translate }}</button>
        </div>
      </div>
      <!-- /.modal-content-->
    </div>
    <!-- /.modal-dialog-->
  </div>
</div>