<div id="MainDiv">
  <!-- Breadcrumb-->
  <div class="card">
    <div class="card-body">
      <button class="btn btn-sm-2 btn-primary" type="submit" routerLink="/module/new">
        <i class="icon-plus icons"></i> {{ "button.AddModule" | translate }}</button>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> {{ "headers.ModuleListTable" | translate}}</div>
    <div class="card-body">
      <table class="table table-responsive-sm table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th>{{"ModuleListTable.moduleName" | translate}}</th>
            <th>{{"ModuleListTable.logDate" | translate}}</th>
            <th>{{"ModuleListTable.action" | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let gm of generalModules">
            <td>{{gm.Name}}</td>
            <td>{{gm.LogDate | date: 'yyyy-MM-dd h:mm:ss a'}}</td>
            <td>
              <button class="btn btn-sm btn-primary" type="submit" (click)="edit(gm)">
                <i class="icon-close"></i> {{ "button.Edit" | translate }}</button>
              &nbsp;
              <button class="btn btn-sm btn-danger" type="submit" (click)="remove(gm)">
                <i class="icon-close"></i> {{ "button.Remove" | translate }}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>