<div class="card" style="margin-top:10px;">
  <div class="card-header">Persona de Contacto
    <div class="card-header-actions">
      <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#contactPer"
        aria-expanded="true">
        <i class="icon-arrow-up"></i>
      </a>
    </div>
  </div>
  <div class="collapse show" id="contactPer">
    <div class="card-body">
      <button class="btn btn-pill btn-primary" type="button" (click)="addNewContactPerson()">
        <i class="fa fa-dot-circle-o"></i>
        {{ "contactPersonButton.AddNewContactPerson" | translate }}
      </button>
      &nbsp;
      <button class="btn btn-pill btn-success" type="button" (click)="searchContactPerson()">
        <i class="icon icon-magnifier"></i>
        {{ "contactPersonButton.SearchContactPerson" | translate }}
      </button>

      <table class="table table-responsive-sm table-striped">
        <thead>
          <tr>
            <th style="width: 250px;">{{ "ContactPersonTables.thead.Name" | translate }}</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of contactPersons">
            <td *ngIf="!item.IsDeleted">{{ item.Contact.FullName }}</td>
            <td *ngIf="!item.IsDeleted">
              <button class="btn btn-sm btn-primary" type="button" (click)="viewDetails(item)">
                <i class="icon-note"></i>
                {{ "contactPersonButton.ViewDetails" | translate }}
              </button>
              &nbsp;
              <button class="btn btn-sm btn-danger" type="button" (click)="removeContactPerson(item)">
                <i class="icon-close"></i>
                {{ "contactPersonButton.DeletePartyContactNumber" | translate }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--====================================== Modals ==========================================-->

<div class="modal fade" id="searchContactPerson" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" translate>modalSearch.headers.SearchHeader</h4>
        <button class="close" type="button" aria-label="Close" (click)="save()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <div class="row border rounded" style="padding:5px; margin-bottom: 10px;">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
              <label class="control-label" translate>modalSearch.label.TypeFilter</label>
              <select class="form-control" [(ngModel)]="values.searchFor">
                <option value="undefined" translate>modalSearch.label.Selected</option>
                <option value="EMP-COD" *ngIf="isCompany">{{"modalSearch.empCode" | translate}}</option>
                <option value="PAR-NAM">{{"modalSearch.byName" | translate}}</option>
                <option *ngFor="let filt of filters" value="{{ filt.Code }}">{{filt.Description}}</option>
              </select>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
              <input type="text" class="form-control" style="margin-top:28px;" [(ngModel)]="values.value" />
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
              <button class="btn btn-primary" type="button" style="margin-top:28px"
                (click)="search()">{{ "modalSearch.button.Search" | translate }}</button>
            </div>
          </div>
          <div class="row border rounded" style="padding:5px;">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <table class="table table-responsive-sm table-sm">
                <thead>
                  <tr>
                    <th style="width:65px;">--</th>
                    <th>{{"modalSearch.thead.Name" | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let par of parties">
                    <td>
                      <label class="switch switch-label switch-pill switch-success">
                        <input class="switch-input" type="checkbox" [(ngModel)]="par.Selected"
                          (change)="addExists(par);">
                        <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                      </label>
                    </td>
                    <td>{{par.FullName}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" (click)="save()">
          {{ "modalSearch.button.Finish" | translate }}</button>
      </div>
      <!-- /.modal-content-->
    </div>
    <!-- /.modal-dialog-->
  </div>
</div>

<div class="modal fade" id="addNewContactPerson" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" translate>headers.ModalHeader</h4>
        <button class="close" type="button" aria-label="Close" (click)="cancelEditOption(options)">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <app-parties [person]="party"></app-parties>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button"
            (click)="saveNewContactPerson()">{{ "button.Save" | translate }}</button>
          <button class="btn btn-secondary" type="button" (click)="cancelAddContact()">{{ "button.Cancel" |
              translate }}</button>
        </div>
      </div>
      <!-- /.modal-content-->
    </div>
    <!-- /.modal-dialog-->
  </div>
</div>