<div id="MainDiv">
  <!--========================================== Content=========================================-->
  <div style="margin-top: 12px">
    <div class="card rounded">
      <div class="card-header">
        <button *ngIf="ActiveBack" class="btn btn-outline-dark" type="button" (click)="onBack()">
          <i class="icons icon-arrow-left-circle"></i> {{ backButtonText }}
        </button>
        &nbsp;
        <button *ngIf="ActiveSave" class="btn btn-outline-success" type="button" (click)="onSave()"
          [disabled]="disableSaveButton">
          <i class="fa fa-dot-circle-o"></i> {{ saveButtonText }}
        </button>
        &nbsp;
        <button *ngIf="ActiveRefresh" class="btn btn-outline-primary" type="button" (click)="onRefresh()">
          <i class="icon-refresh icons"></i> {{ refreshButtonText }}
        </button>
      </div>
      <!--======================================= Body ==========================================-->
      <div class="card-body">
        <ng-content></ng-content>
      </div>
      <!--======================================= End Body ======================================-->
      <div class="card-footer">
        <button *ngIf="ActiveBack" class="btn btn-outline-dark" type="button" (click)="onBack()">
          <i class="icons icon-arrow-left-circle"></i> {{ backButtonText }}
        </button>
        &nbsp;
        <button *ngIf="ActiveSave" class="btn btn-outline-success" type="button" (click)="onSave()"
          [disabled]="disableSaveButton">
          <i class="fa fa-dot-circle-o"></i> {{ saveButtonText }}
        </button>
        &nbsp;
        <button *ngIf="ActiveRefresh" class="btn btn-outline-primary" type="button" (click)="onRefresh()">
          <i class="icon-refresh icons"></i> {{ refreshButtonText }}
        </button>
      </div>
    </div>
  </div>
  <!--===========================================================================================-->
</div>