<app-base-content [ActiveBack]="true" [ActiveSave]="true" [ActiveRefresh]="true"
  saveButtonText="{{ 'button.Save' | translate }}" backButtonText="{{'button.Back' | translate}}"
  refreshButtonText="{{'button.Refresh' | translate}}" (back)="back()" (save)="save()"
  (refresh)="ngOnInit()">

  <div class="form-group">
    <label class="col-form-label" for="prependedInput">{{"label.roleName" | translate}}</label>
    <div class="input-prepend input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">=></span>
      </div>
      <input class="form-control" name="roleName" maxlength="35" [(ngModel)]="userRole.Name" type="text">
    </div>
  </div>

  <div class="form-group">
    <label class="col-form-label" for="prependedInput">{{"label.roleDescription" | translate}}</label>
    <div class="input-prepend input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">=></span>
      </div>
      <input class="form-control" name="roleDescription" maxlength="150" [(ngModel)]="userRole.Description" type="text">
    </div>
  </div>

  <div class="row">

    <div id="modulesDiv" class="col-sm-6 col-md-12">
      <div class="card card-accent-primary">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> {{"headers.ModuleTable"|translate}}
        </div>
        <div class="card-body">
          <table id="modulesTable" class="table table-responsive-sm table-striped">
            <thead>
              <tr>
                <th width="5%">
                  <label class="switch switch-label switch-primary" style=" padding:0px; margin:0px;">
                    <input class="switch-input" type="checkbox">
                    <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                  </label>
                </th>
                <th><label>Name</label></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let module of gModules" (click)="modules(module)">
                <!--<td><input class="" name="selectAll" type="checkbox"  [(ngModel)]="module.Select"></td>-->
                <td>
                  <label class="switch switch-label switch-primary" style=" padding:0px; margin:0px;">
                    <input class="switch-input" type="checkbox" [(ngModel)]="module.Select"
                      (click)="addOrRemoveModule(module)">
                    <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                  </label>
                </td>
                <td>{{module.Name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div id="optionsDiv" *ngIf="showOptions" class="col-sm-6 col-md-6">
      <div class="card card-accent-primary">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> {{"headers.OptionTable"|translate}}
        </div>
        <div class="card-body">
          <table id="modulesTable" class="table table-responsive-sm table-striped">
            <thead>
              <tr>
                <th width="5%">
                  <label class="switch switch-label switch-primary" style=" padding:0px; margin:0px;">
                    <input class="switch-input" type="checkbox"><span class="switch-slider" data-checked="✓"
                      data-unchecked="✕"></span>
                  </label>
                </th>
                <th><label>Name</label></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let option of mOptions" (click)="options(option)">
                <!--<td><input class="" name="selectAll" type="checkbox" [(ngModel)]="option.Select"></td>-->
                <td>
                  <label class="switch switch-label switch-primary" style=" padding:0px; margin:0px;">
                    <input class="switch-input" type="checkbox" [(ngModel)]="option.Select"
                      (click)="addOrRemoveOptions(option)">
                    <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                  </label>
                </td>
                <td>{{option.Name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div *ngIf="showSubOptions" class="col-sm-6 col-md-4">
      <div class="card card-accent-primary">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> {{"headers.SubOptionTable"|translate}}
        </div>
        <div class="card-body">
          <table id="modulesTable" class="table table-responsive-sm table-striped">
            <thead>
              <tr>
                <th width="5%">
                  <label class="switch switch-label switch-primary" style=" padding:0px; margin:0px;">
                    <input class="switch-input" type="checkbox"><span class="switch-slider" data-checked="✓"
                      data-unchecked="✕"></span>
                  </label>
                </th>
                <th><label>Name</label></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subOption of mSubOptions">
                <!--<td><input class="" name="selectAll" type="checkbox" [(ngModel)]="subOption.Select"></td>-->
                <td>
                  <label class="switch switch-label switch-primary" style=" padding:0px; margin:0px;">
                    <input class="switch-input" type="checkbox" [(ngModel)]="subOption.Select"
                      (click)="addOrRemoveSubOptions(subOption)">
                    <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                  </label>
                </td>
                <td>{{subOption.Name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</app-base-content>