<div class="col-md-9 col-form-label">
  <div class="form-check form-check-inline mr-1" *ngFor="let item of warrantiesTypes" >
    <input
      class="form-check-input"
      type="radio"
      value="{{item.Code}}"
      name="inline-radios"
      [(ngModel)]="warrantySelected"
    />
    <label class="form-check-label" for="inline-radio1">{{item.Description}}</label>
  </div>
</div>

<div *ngIf="enviroment.Codes.WarrantyPerson == warrantySelected" >
  <h2>Parties</h2>
  <app-parties [(person)]="warranty.Person" (personFormStatus)="personForm($event)"></app-parties>
</div>
<div *ngIf="enviroment.Codes.WarrantyProperty == warrantySelected">
  <h2>Properties</h2>
  <app-properties [(property)]="warranty.Property" (propertyFormStatus)="propertyForm($event)"></app-properties>
</div>
<div *ngIf="enviroment.Codes.WarrantyVehicle == warrantySelected">
  <h2>Vehicles</h2>
  <app-vehicles [(vehicle)]="warranty.Vehicle" (vehicleFormStatus)="vehicleForm($event)"></app-vehicles>
</div>
