<div id="MainDiv">
  <!-- Breadcrumb-->
  <div class="card">
    <div class="card-body">
      <button class="btn btn-sm-2 btn-primary" type="submit" routerLink="/accClass/new">
        <i class="icon-plus icons"></i> {{ "button.Add" | translate }}</button>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> {{ "headers.ListT" | translate}}</div>
    <div class="card-body">
      <table class="table table-responsive-sm table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th>{{"table.thead.GroupName" | translate}}</th>
            <th>{{"table.thead.ClassCode" | translate}}</th>
            <th>{{"table.thead.ClassName" | translate}}</th>
            <th>{{"table.thead.LogDate" | translate}}</th>
            <th>{{"table.thead.Action" | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cla of classes">
            <td>{{cla.AccGroup.AccGroupName}}</td>
            <td>{{cla.AccClassCode}}</td>
            <td>{{cla.AccClassName}}</td>
            <td>{{cla.LogDate | date: 'yyyy-MM-dd h:mm:ss a'}}</td>
            <td>
              <button class="btn btn-sm btn-primary" type="submit" (click)="edit(cla)">
                <i class="icon-close"></i> {{ "button.Edit" | translate }}</button>
              &nbsp;
              <button class="btn btn-sm btn-danger" type="submit" (click)="remove(cla)">
                <i class="icon-close"></i> {{ "button.Remove" | translate }}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>