<app-base-content [ActiveBack]="true" [ActiveSave]="true" [ActiveRefresh]="true"
  saveButtonText="{{'button.Save' | translate}}" backButtonText="{{'button.Back' | translate}}"
  refreshButtonText="{{'button.Refresh' | translate}}" (back)="back()" (save)="save()" (refresh)="ngOnInit()">

  <div class="row border rounded" style="padding: 15px; margin-bottom: 12px;">
    <div *ngIf="accountPeriod.Indx == undefined || accountPeriod.Indx ==0" class="row col-lg-12" style="margin-bottom: 5px;">
      <div class="col-md-5 border rounded" style="padding: 10px;">
        <span>{{"label.Start" | translate}} ({{_startMonth}}/{{_startYear}})</span><br />
        <select class="col-lg-5 border rounded" [(ngModel)]="_startMonth" (ngModelChange)="onChangeStartMonth($event)">
          <option value="undefined" translate>{{"headers._M"  | translate}}</option>
          <option value="01" translate>{{"Month.1" | translate}}</option>
          <option value="02" translate>{{"Month.2" | translate}}</option>
          <option value="03" translate>{{"Month.3" | translate}}</option>
          <option value="04" translate>{{"Month.4" | translate}}</option>
          <option value="05" translate>{{"Month.5" | translate}}</option>
          <option value="06" translate>{{"Month.6" | translate}}</option>
          <option value="07" translate>{{"Month.7" | translate}}</option>
          <option value="08" translate>{{"Month.8" | translate}}</option>
          <option value="09" translate>{{"Month.9" | translate}}</option>
          <option value="10" translate>{{"Month.10" | translate}}</option>
          <option value="11" translate>{{"Month.11" | translate}}</option>
          <option value="12" translate>{{"Month.12" | translate}}</option>
        </select>
        <span>-</span>
        <select class="col-lg-5 border rounded" [(ngModel)]="_startYear" (ngModelChange)="onChangeStartYear($event)">
          <option value="undefined" translate>{{"headers._Y"  | translate}}</option>
          <option *ngFor="let y of startYears;" value="{{y}}">{{y}}</option>
        </select>
      </div>
      &nbsp;
      &nbsp;
      <div class="col-md-5 border rounded" style="padding: 10px;">
        <span>{{"label.End" | translate}} ({{_endMonth}}/{{_endYear}})</span><br />
        <select class="col-lg-5 border rounded" [(ngModel)]="_endMonth" (ngModelChange)="onChangeEndMonth($event)">
          <option value="undefined" translate>{{"headers._M"  | translate}}</option>
          <option value="01" translate>{{"Month.1" | translate}}</option>
          <option value="02" translate>{{"Month.2" | translate}}</option>
          <option value="03" translate>{{"Month.3" | translate}}</option>
          <option value="04" translate>{{"Month.4" | translate}}</option>
          <option value="05" translate>{{"Month.5" | translate}}</option>
          <option value="06" translate>{{"Month.6" | translate}}</option>
          <option value="07" translate>{{"Month.7" | translate}}</option>
          <option value="08" translate>{{"Month.8" | translate}}</option>
          <option value="09" translate>{{"Month.9" | translate}}</option>
          <option value="10" translate>{{"Month.10" | translate}}</option>
          <option value="11" translate>{{"Month.11" | translate}}</option>
          <option value="12" translate>{{"Month.12" | translate}}</option>
        </select>
        <span>-</span>
        <select class="col-lg-5 border rounded" [(ngModel)]="_endYear" (ngModelChange)="onChangeEndYear($event)">
          <option value="undefined" translate>{{"headers._Y"  | translate}}</option>
          <option *ngFor="let y of endYears;" value="{{y}}">{{y}}</option>
        </select>
      </div>
    </div>
    <div class="row col-lg-12" style="margin-bottom: 5px;">
      <div class="col-md-5 border rounded" style="padding: 10px;">
        <span>{{"label.PeriodName" | translate}}</span>
        <input class="form-control" type="text" [(ngModel)]="accountPeriod.Name" readonly>
      </div>
      &nbsp;
      &nbsp;
      <div class="col-md-5 border rounded" style="padding: 10px;">
        <span>{{"label.PeriodState" | translate}}</span>
        <select class="form-control" [(ngModel)]="accountPeriod.PeriodState"
          (ngModelChange)="onChangePeriodState($event)">
          <option value="undefined">{{"headers.State" | translate}}</option>
          <option *ngFor="let ps of periodState;" value="{{ps.GID}}">{{ps.Name}}</option>
        </select>
      </div>
    </div>
    <br />
    <button type="button" class="btn btn-primary" (click)="generatePeriods()">{{"button.GeneratePeriod" | translate}}</button>
  </div>

  <div class="row border rounded" style="padding: 15px;">
    <table class="table table-responsive-sm table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th>-</th>
          <th>{{"table.thead.PeriodName" | translate}}</th>
          <th>{{"table.thead.PeriodState" | translate}}</th>
          <th>{{"table.thead.LogDate" | translate}}</th>
          <th>{{"table.thead.Action" | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let per of accountPeriod.PeriodDetails; let indx = index;">
          <td>{{indx + 1}}</td>
          <td>{{per.Name}}</td>
          <td>
            {{(per.PeriodState == "975cd34a-6ab5-49f2-94a3-cf9c8a34b764"
               ? "Open"
               :(per.PeriodState == "8d93782b-1177-47b5-a159-dc706f137ee3"
               ? "Lock":"Close"))}}
          </td>
          <td>{{per.LogDate | date: 'yyyy-MM-dd'}}</td>
          <td>
            <button class="btn btn-pill btn-warning" type="submit" (click)="editPeriod(per)">
              <i class="icon-close"></i> {{ "button.Close" | translate }}</button>
            &nbsp;
            <button class="btn btn-pill btn-danger" type="submit" (click)="lockPeriod(per)">
              <i class="icon-close"></i> {{ "button.Lock" | translate }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</app-base-content>