<div class="card" style="margin-top:10px;">
  <div class="card-header">Direcciones
    <div class="card-header-actions">
      <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#locat"
        aria-expanded="true">
        <i class="icon-arrow-up"></i>
      </a>
    </div>
  </div>
  <div class="collapse show" id="locat">
    <div class="card-body">
      <button class="btn btn-pill btn-primary" type="button" (click)="saveMode = true; locationModal.show();">
        <i class="fa fa-dot-circle-o"></i>
        {{ "partyLocationButton.AddPartyLocation" | translate }}
      </button>

      <table class="table table-responsive-sm table-striped">
        <thead>
          <tr>
            <th>
              {{ "partyLocationTables.thead.sector" | translate }}
            </th>
            <th>{{ "partyLocationTables.thead.address" | translate }}</th>
            <th>
              {{
          "partyLocationTables.thead.streetNumber" | translate
        }}
            </th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of locations">
            <td>{{ item.SubSectorGID }}</td>
            <td>{{ item.Adderss }}</td>
            <td>{{ item.StreetNumber }}</td>
            <td>
              <button class="btn btn-sm btn-primary" type="button" (click)="editlocation(item); locationModal.show();">
                <i class="icon-close"></i>
                {{ "partyLocationButton.EditPartyLocation" | translate }}
              </button>
              <button class="btn btn-sm btn-danger" type="button" (click)="deletelocation(item)">
                <i class="icon-close"></i>
                {{
            "partyLocationButton.DeletePartyLocation" | translate
          }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" bsModal #locationModal="bs-modal" [config]="{ backdrop: 'static' }" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">
          {{ "partyIdentificatioHeaders.ModalTitle" | translate }}
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="locationModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="locationForm">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
              <label class="control-label">{{
                "partyLocationLabel.sector" | translate
              }}</label>
              <select class="form-control" formControlName="sector" [(ngModel)]="location.SubSectorGID">
                <option *ngFor="let item of Sectors" value="{{ item.GID }}">{{ item.Description }}</option>
              </select>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
              <label class="control-label">{{
                  "partyLocationLabel.address" | translate
                }}</label>
              <input class="form-control" formControlName="address" [(ngModel)]="location.Adderss" />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
              <label class="control-label">{{
                "partyLocationLabel.streetNumber" | translate
              }}</label>
              <input class="form-control" formControlName="streetNumber" [(ngModel)]="location.StreetNumber" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <app-back-save-button [disabledSaveButtom]="locationForm.invalid" [isSaveMode]="saveMode" (save)="onSave()"
          (back)="onBack(); locationModal.hide();" (edit)="onEdit(); locationModal.hide();"></app-back-save-button>
      </div>
    </div>
  </div>
</div>