<div class="card" style="margin-top:10px;">
  <div class="card-header">Identificaciones
    <div class="card-header-actions">
      <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#ident"
        aria-expanded="true">
        <i class="icon-arrow-up"></i>
      </a>
    </div>
  </div>
  <div class="collapse show" id="ident">
    <div class="card-body">
      <button class="btn btn-pill btn-primary" type="button" data-toggle="modal"
        data-target="#party-identification-modal" (click)="saveMode = true; identificationModal.show();">
        <i class="fa fa-dot-circle-o"></i>
        {{ "partyIdentificationButton.AddIdentification" | translate }}
      </button>

      <table class="table table-responsive-sm table-striped">
        <thead>
          <tr>
            <th>
              {{ "partyIdentificationTables.thead.IdentificationType" | translate }}
            </th>
            <th>{{ "partyIdentificationTables.thead.Number" | translate }}</th>
            <th>
              {{
          "partyIdentificationTables.thead.ExpirationIdentification" | translate
        }}
            </th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of identifications">
            <td>{{ item.IdentificationTypeName }}</td>
            <td>{{ item.Number }}</td>
            <td>{{ item.ExpirationDate | date: "dd-MM-yyyy" }}</td>
            <td>
              <button class="btn btn-sm btn-primary" type="button"
                (click)="editIdentification(item); identificationModal.show();">
                <i class="icon-close"></i>
                {{ "partyIdentificationButton.EditPartyIdentification" | translate }}
              </button>
              <button class="btn btn-sm btn-danger" type="button" (click)="deleteIdentification(item)">
                <i class="icon-close"></i>
                {{
            "partyIdentificationButton.DeletePartyIdentification" | translate
          }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" bsModal #identificationModal="bs-modal" [config]="{ backdrop: 'static' }" tabindex="-1"
  role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">
          {{ "partyIdentificatioHeaders.ModalTitle" | translate }}
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="identificationModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="identificationForm">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
              <label class="control-label">{{
                "partyIdentificationlabel.IdentificationType" | translate
              }}</label>
              <select class="form-control" formControlName="type" [(ngModel)]="identification.IdentificationType">
                <option *ngFor="let item of identificationTypes" value="{{ item.GID }}">{{ item.Description }}</option>
              </select>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
              <label class="control-label">{{
                "partyIdentificationlabel.Number" | translate
              }}</label>
              <input class="form-control" formControlName="number" [(ngModel)]="identification.Number" />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
              <label class="control-label">{{
                "partyIdentificationlabel.ExpirationIdentification" | translate
              }}</label>
              <input class="form-control" bsDatepicker [bsConfig]="{
                  dateInputFormat: 'DD-MM-YYYY',
                  containerClass: 'theme-blue'
                }" (bsValueChange)="changeDate($event)" formControlName="enddate"
                [(ngModel)]="identification.ExpirationDate" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <app-back-save-button [disabledSaveButtom]="identificationForm.invalid" [isSaveMode]="saveMode"
          (save)="onSave()" (back)="onBack(); identificationModal.hide();"
          (edit)="onEdit(); identificationModal.hide();"></app-back-save-button>
      </div>
    </div>
  </div>
</div>