<app-base-content [ActiveBack]="true" [ActiveSave]="true" [ActiveRefresh]="true"
  saveButtonText="{{ 'button.Save' | translate }}" backButtonText="{{'button.Back' | translate}}"
  refreshButtonText="{{'button.Refresh' | translate}}" (back)="back()" (save)="save(generalModules)"
  (refresh)="refresh()">
  <div class="form-group">
    <label for="nf-email" translate>label.ModuleName</label>
    <input class="form-control" type="text" placeholder="Nombre del modulo" [(ngModel)]="generalModules.Name"
      name="moduleName">
  </div>
  <button class="btn btn-sm-2 btn-primary" type="submit" (click)="addNewOption(template)">
    <i class="icon-plus icons"></i> {{ "button.AddOption" | translate }}</button>
  <br />
  <br />
  <!--====================================== Options ===========================================-->
  <div *ngIf="addOption" class="form-group">
    <table class="table table-responsive-sm table-striped">
      <thead>
        <tr>
          <th colspan="10" class="text-center">
            <h3 translate>headers.OptionTable</h3>
          </th>
        </tr>
        <tr>
          <th>{{"ModuleTables.Option.Name" | translate}}</th>
          <th>{{"ModuleTables.Option.Link" | translate}}</th>
          <th>{{"ModuleTables.Option.IsSubModule" | translate}}</th>
          <th>{{"ModuleTables.Option.Option" | translate}}</th>
          <th>{{"ModuleTables.Option.Action" | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let opt of generalModules.Options" (click)="selectOption(opt)">
          <td *ngIf="opt">{{opt.Name}}</td>
          <td *ngIf="opt">{{opt.Link}}</td>
          <td *ngIf="opt">{{opt.IsSubM == true ? "Si" : "No" }}</td>
          <td *ngIf="opt.Options != null">{{opt.Options.length}}</td>
          <td>
            <button class="btn btn-sm btn-primary" type="submit" (click)="editOption(opt)">
              <i class="icon-close"></i> {{ "button.Edit" | translate }}</button>
            &nbsp;
            <button class="btn btn-sm btn-danger" type="submit" (click)="removeOptions(opt)">
              <i class="icon-close"></i> {{ "button.Remove" | translate }}</button>
            &nbsp;
            <button class="btn btn-sm btn-info" type="submit" (click)="addNewSubOption(opt)" [disabled]="!opt.IsSubM">
              <i class="icon-plus"></i> {{ "button.AddSubO" | translate }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--===================================== Sub Options ===========================================-->
  <div *ngIf="options.IsSubM" class="jumbotron" style="padding:12px; margin: 0px">
    <div class="text-center">
      <h3 translate>headers.SubOptionTable</h3>
      <h3>{{options.Name}}</h3>
    </div>
    <table class="table table-responsive-sm table-striped">
      <thead>
        <tr>
          <th>{{"ModuleTables.SubOption.Name" | translate}}</th>
          <th>{{"ModuleTables.SubOption.Link" | translate}}</th>
          <th>{{"ModuleTables.SubOption.Action" | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subOpt of options.Options">
          <td>{{subOpt.Name}}</td>
          <td>{{subOpt.Link}}</td>
          <td>
            <button class="btn btn-sm btn-primary" type="submit" (click)="editSubOption(subOpt)">
              <i class="icon-close"></i> {{ "button.Edit" | translate }}</button>
            &nbsp;
            <button class="btn btn-sm btn-danger" type="submit" (click)="removeSubOption(subOpt)">
              <i class="icon-close"></i> {{ "button.Remove" | translate }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-base-content>

<!--===========================================Modals=========================================================-->

<!--Options-->
<div class="modal fade" id="option" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" translate>headers.OptionModal</h4>
        <button class="close" type="button" aria-label="Close" (click)="cancelEditOption(options)">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <div class="row">
            <div class="form-group col-sm-8">
              <label for="" translate>label.ModuleName</label>
              <input class="form-control" id="nombre" [(ngModel)]="options.Name" type="text" placeholder="" autofocus>
            </div>
            <div class="form-group col-sm-4">
              <label for="" translate>label.IsSubM</label>
              <label class="switch switch-label switch-primary">
                <input class="switch-input" type="checkbox" [(ngModel)]="options.IsSubM" (click)="isSubModule(options)">
                <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
              </label>

            </div>
          </div>
          <div class="form-group">
            <label for="" translate>label.RouterLink</label>
            <input class="form-control" id="link" [(ngModel)]="options.Link" [readonly]="options.IsSubM" type="text"
              placeholder="Module link name (Ej.: /ModuleName)">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button"
          (click)="saveNewOption(opt)">{{ "button.Save" | translate }}</button>
        <button class="btn btn-secondary" type="button" (click)="cancelEditOption(options)">{{ "button.Cancel" |
            translate }}</button>
      </div>
    </div>
    <!-- /.modal-content-->
  </div>
  <!-- /.modal-dialog-->
</div>

<!--Sub Options-->
<div class="modal fade" id="subOption" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" translate>headers.SubOptionModal</h4>
        <button class="close" type="button" aria-label="Close" (click)="cancelEditSubOption(subOption)">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <div class="row">
            <div class="form-group col-sm-12">
              <label for="" translate>label.OptionName</label>
              <input class="form-control" id="nombre" [(ngModel)]="subOption.Name" type="text" placeholder="" autofocus>
            </div>
          </div>
          <div class="form-group">
            <label for="" translate>label.RouterLink</label>
            <input class="form-control" id="link" [(ngModel)]="subOption.Link" type="text"
              placeholder="Module link name (Ej.: /ModuleName)">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" (click)="saveNewSubOption(subOption)">{{ "button.Save" |
            translate }}</button>
        <button class="btn btn-secondary" type="button" (click)="cancelEditSubOption(subOption)">{{ "button.Cancel" |
            translate }}</button>
      </div>
    </div>
    <!-- /.modal-content-->
  </div>
  <!-- /.modal-dialog-->
</div>